<header>
    <h1><a href="/" >Charac-liste</a></h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/liste">Liste</a></li>
            <li><a href="/se-connecter">Connexion</a></li>
            <li><a href="/form">Form</a></li>
        </ul>
    </nav>
</header>