<!-- <form method="POST">
    <label for="title">Titre</label>
    <input type="text" name="title">
    <label for="article">Article</label>
    <textarea name="article" id="article" cols="30" rows="10"></textarea>

    <input type="submit" value="Envoyer">
</form> -->

<form method="POST" enctype="multipart/form-data">
    <label for="title">Titre</label>
    <input type="text" name="title">
    <label for="article">Article</label>
    <textarea name="article" id="article" cols="30" rows="10"></textarea>
    <label for="img">Image</label>
    <input type="file" name="img" id="img">

    <input type="submit" value="Envoyer">
</form>